In [1]:
import pandas as pd
import numpy as np

In [2]:
match=pd.read_csv("DF1-matches_updated_mens_ipl-updated-WIP.csv",encoding="iso-8859-1")

In [3]:
match.head()

,matchId,event,season,Season Wise match_number,Total Matches,outcome,Date,gender,team1,team2,...,neutralvenue,venue,method,toss_decision,city,tv_umpire,date2,winner,umpire1,eliminator
0,335982,Indian Premier League,2008,2008-1,1,NaN,4/18/2008,male,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",NaN,field,Bangalore,AM Saheba,NaN,Kolkata Knight Riders,Asad Rauf,NaN
1,335983,Indian Premier League,2008,2008-2,2,NaN,4/19/2008,male,Punjab Kings,Chennai Super Kings,...,NaN,Punjab Cricket Association IS Bindra Stadium (...,NaN,bat,Chandigarh,RB Tiffin,NaN,Chennai Super Kings,MR Benson,NaN
2,335984,Indian Premier League,2008,2008-3,3,NaN,4/19/2008,male,Delhi Daredevils,Rajasthan Royals,...,NaN,Arun Jaitley Stadium (Delhi),NaN,bat,Delhi,IL Howell,NaN,Delhi Daredevils,Aleem Dar,NaN
3,335986,Indian Premier League,2008,2008-4,4,NaN,4/20/2008,male,Kolkata Knight Riders,Deccan Chargers,...,NaN,Eden Gardens (Kolkata),NaN,bat,Kolkata,Asad Rauf,NaN,Kolkata Knight Riders,BF Bowden,NaN
4,335985,Indian Premier League,2008,2008-5,5,NaN,4/20/2008,male,Mumbai Indians,Royal Challengers Bangalore,...,NaN,Wankhede Stadium (Mumbai),NaN,bat,Mumbai,AV Jayaprakash,NaN,Royal Challengers Bangalore,SJ Davis,NaN

In [4]:
match.shape

(958, 29)

In [5]:
match.isna().sum()

matchId                       0
event                         0
season                        0
Season Wise match_number      0
Total Matches                 0
outcome                     932
Date                          0
gender                        0
team1                         0
team2                         0
toss_winner                   8
umpire2                       6
match_referee                 7
reserve_umpire               30
win_by_runs                 535
win_by_wickets              449
player_of_match              12
dl_applied                    0
date1                       956
neutralvenue                877
venue                         0
method                      942
toss_decision                 8
city                          0
tv_umpire                    10
date2                       956
winner                       26
umpire1                       8
eliminator                  944
dtype: int64

In [6]:
match

,matchId,event,season,Season Wise match_number,Total Matches,outcome,Date,gender,team1,team2,...,neutralvenue,venue,method,toss_decision,city,tv_umpire,date2,winner,umpire1,eliminator
0,335982,Indian Premier League,2008,2008-1,1,NaN,4/18/2008,male,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",NaN,field,Bangalore,AM Saheba,NaN,Kolkata Knight Riders,Asad Rauf,NaN
1,335983,Indian Premier League,2008,2008-2,2,NaN,4/19/2008,male,Punjab Kings,Chennai Super Kings,...,NaN,Punjab Cricket Association IS Bindra Stadium (...,NaN,bat,Chandigarh,RB Tiffin,NaN,Chennai Super Kings,MR Benson,NaN
2,335984,Indian Premier League,2008,2008-3,3,NaN,4/19/2008,male,Delhi Daredevils,Rajasthan Royals,...,NaN,Arun Jaitley Stadium (Delhi),NaN,bat,Delhi,IL Howell,NaN,Delhi Daredevils,Aleem Dar,NaN
3,335986,Indian Premier League,2008,2008-4,4,NaN,4/20/2008,male,Kolkata Knight Riders,Deccan Chargers,...,NaN,Eden Gardens (Kolkata),NaN,bat,Kolkata,Asad Rauf,NaN,Kolkata Knight Riders,BF Bowden,NaN
4,335985,Indian Premier League,2008,2008-5,5,NaN,4/20/2008,male,Mumbai Indians,Royal Challengers Bangalore,...,NaN,Wankhede Stadium (Mumbai),NaN,bat,Mumbai,AV Jayaprakash,NaN,Royal Challengers Bangalore,SJ Davis,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,1304116,Indian Premier League,2022,2022-70,954,NaN,5/22/2022,male,Sunrisers Hyderabad,Punjab Kings,...,NaN,Wankhede Stadium (Mumbai),NaN,bat,Mumbai,CB Gaffaney,NaN,Punjab Kings,AK Chaudhary,NaN
954,1312197,Indian Premier League,2022,2022-71,955,NaN,5/24/2022,male,Rajasthan Royals,Gujarat Titans,...,NaN,Eden Gardens (Kolkata),NaN,field,Kolkata,MA Gough,NaN,Gujarat Titans,BNJ Oxenford,NaN
955,1312198,Indian Premier League,2022,2022-72,956,NaN,5/25/2022,male,Royal Challengers Bangalore,Lucknow Super Giants,...,NaN,Eden Gardens (Kolkata),NaN,field,Kolkata,BNJ Oxenford,NaN,Royal Challengers Bangalore,J Madanagopal,NaN
956,1312199,Indian Premier League,2022,2022-73,957,NaN,5/27/2022,male,Royal Challengers Bangalore,Rajasthan Royals,...,NaN,Narendra Modi Stadium (Ahmedabad),NaN,field,Ahmedabad,AK Chaudhary,NaN,Rajasthan Royals,CB Gaffaney,NaN
957,1312200,Indian Premier League,2022,2022-74,958,NaN,5/29/2022,male,Rajasthan Royals,Gujarat Titans,...,NaN,Narendra Modi Stadium (Ahmedabad),NaN,bat,Ahmedabad,KN Ananthapadmanabhan,NaN,Gujarat Titans,CB Gaffaney,NaN

In [7]:
match.columns

Index(['matchId', 'event', 'season', 'Season Wise match_number',
       'Total Matches', 'outcome', 'Date', 'gender', 'team1', 'team2',
       'toss_winner', 'umpire2', 'match_referee', 'reserve_umpire',
       'win_by_runs', 'win_by_wickets', 'player_of_match', 'dl_applied',
       'date1', 'neutralvenue', 'venue', 'method', 'toss_decision', 'city',
       'tv_umpire', 'date2', 'winner', 'umpire1', 'eliminator'],
      dtype='object')

In [8]:
match['outcome'] = match['outcome'].fillna("Normal")

In [9]:
match['outcome'].value_counts()

Normal       932
tie           14
no result     12
Name: outcome, dtype: int64

In [10]:
match

,matchId,event,season,Season Wise match_number,Total Matches,outcome,Date,gender,team1,team2,...,neutralvenue,venue,method,toss_decision,city,tv_umpire,date2,winner,umpire1,eliminator
0,335982,Indian Premier League,2008,2008-1,1,Normal,4/18/2008,male,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",NaN,field,Bangalore,AM Saheba,NaN,Kolkata Knight Riders,Asad Rauf,NaN
1,335983,Indian Premier League,2008,2008-2,2,Normal,4/19/2008,male,Punjab Kings,Chennai Super Kings,...,NaN,Punjab Cricket Association IS Bindra Stadium (...,NaN,bat,Chandigarh,RB Tiffin,NaN,Chennai Super Kings,MR Benson,NaN
2,335984,Indian Premier League,2008,2008-3,3,Normal,4/19/2008,male,Delhi Daredevils,Rajasthan Royals,...,NaN,Arun Jaitley Stadium (Delhi),NaN,bat,Delhi,IL Howell,NaN,Delhi Daredevils,Aleem Dar,NaN
3,335986,Indian Premier League,2008,2008-4,4,Normal,4/20/2008,male,Kolkata Knight Riders,Deccan Chargers,...,NaN,Eden Gardens (Kolkata),NaN,bat,Kolkata,Asad Rauf,NaN,Kolkata Knight Riders,BF Bowden,NaN
4,335985,Indian Premier League,2008,2008-5,5,Normal,4/20/2008,male,Mumbai Indians,Royal Challengers Bangalore,...,NaN,Wankhede Stadium (Mumbai),NaN,bat,Mumbai,AV Jayaprakash,NaN,Royal Challengers Bangalore,SJ Davis,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,1304116,Indian Premier League,2022,2022-70,954,Normal,5/22/2022,male,Sunrisers Hyderabad,Punjab Kings,...,NaN,Wankhede Stadium (Mumbai),NaN,bat,Mumbai,CB Gaffaney,NaN,Punjab Kings,AK Chaudhary,NaN
954,1312197,Indian Premier League,2022,2022-71,955,Normal,5/24/2022,male,Rajasthan Royals,Gujarat Titans,...,NaN,Eden Gardens (Kolkata),NaN,field,Kolkata,MA Gough,NaN,Gujarat Titans,BNJ Oxenford,NaN
955,1312198,Indian Premier League,2022,2022-72,956,Normal,5/25/2022,male,Royal Challengers Bangalore,Lucknow Super Giants,...,NaN,Eden Gardens (Kolkata),NaN,field,Kolkata,BNJ Oxenford,NaN,Royal Challengers Bangalore,J Madanagopal,NaN
956,1312199,Indian Premier League,2022,2022-73,957,Normal,5/27/2022,male,Royal Challengers Bangalore,Rajasthan Royals,...,NaN,Narendra Modi Stadium (Ahmedabad),NaN,field,Ahmedabad,AK Chaudhary,NaN,Rajasthan Royals,CB Gaffaney,NaN
957,1312200,Indian Premier League,2022,2022-74,958,Normal,5/29/2022,male,Rajasthan Royals,Gujarat Titans,...,NaN,Narendra Modi Stadium (Ahmedabad),NaN,bat,Ahmedabad,KN Ananthapadmanabhan,NaN,Gujarat Titans,CB Gaffaney,NaN

In [11]:
match['toss_winner'] =match['toss_winner'].fillna("Match Abandoned")

In [12]:
match['toss_winner'].value_counts()

Mumbai Indians                 123
Kolkata Knight Riders          114
Chennai Super Kings            109
Royal Challengers Bangalore    105
Rajasthan Royals                99
Kings XI Punjab                 85
Delhi Daredevils                80
Sunrisers Hyderabad             74
Deccan Chargers                 43
Delhi Capitals                  36
Pune Warriors                   20
Gujarat Lions                   15
Gujarat Titans                  10
Punjab Kings                     9
Kochi Tuskers Kerala             8
Match Abandoned                  8
Rising Pune Supergiants          7
Lucknow Super Giants             7
Rising Pune Supergiant           6
Name: toss_winner, dtype: int64

In [13]:
match['win_by_runs'] = match['win_by_runs'].fillna(0)
match['win_by_wickets'] = match['win_by_wickets'].fillna(0)

In [14]:
match['player_of_match'] = match['player_of_match'].fillna("Match Abandoned")

In [15]:
match['neutralvenue'] = match['neutralvenue'].fillna("No")

In [16]:
match['method'] = match['method'].fillna("Normal")

In [17]:
match['toss_decision'] = match['toss_decision'].fillna("Match Abandoned")

In [18]:
match['winner'] = match['winner'].fillna("Abandoned Match/No Results/Tie")

In [19]:
ballbyball=pd.read_csv("DF-3-IPL_ball_by_ball_updated-WIP-Change.csv")

In [20]:
ballbyball

,match_id,season,start_date,venue,innings,over_ball,Over,ball,batting_team,bowling_team,...,wides,noballs,byes,legbyes,penalty,total_runs,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,335982,2008,4/18/2008,M Chinnaswamy Stadium,2,6.8,6,8,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN
1,335982,2008,4/18/2008,M Chinnaswamy Stadium,2,2.7,2,7,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
2,335982,2008,4/18/2008,M Chinnaswamy Stadium,2,3.1,3,1,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN
3,335982,2008,4/18/2008,M Chinnaswamy Stadium,2,3.2,3,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
4,335982,2008,4/18/2008,M Chinnaswamy Stadium,2,3.3,3,3,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225948,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",1,13.6,13,6,Rajasthan Royals,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
225949,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",1,14.1,14,1,Rajasthan Royals,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
225950,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",1,14.2,14,2,Rajasthan Royals,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
225951,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",1,12.2,12,2,Rajasthan Royals,Gujarat Titans,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
225952,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,18.1,18,1,Gujarat Titans,Rajasthan Royals,...,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN

In [21]:
ballbyball.dtypes

match_id                    int64
season                      int64
start_date                 object
venue                      object
innings                     int64
over_ball                 float64
Over                        int64
ball                        int64
batting_team               object
bowling_team               object
striker                    object
non_striker                object
bowler                     object
runs_off_bat                int64
extras                      int64
wides                     float64
noballs                   float64
byes                      float64
legbyes                   float64
penalty                   float64
total_runs                  int64
wicket_type                object
player_dismissed           object
other_wicket_type         float64
other_player_dismissed    float64
dtype: object

In [22]:
ballbyball['match_id'] = ballbyball['match_id'].astype(object)

In [23]:
ballbyball['innings'] = ballbyball['innings'].astype(object)

In [24]:
ballbyball.dtypes

match_id                   object
season                      int64
start_date                 object
venue                      object
innings                    object
over_ball                 float64
Over                        int64
ball                        int64
batting_team               object
bowling_team               object
striker                    object
non_striker                object
bowler                     object
runs_off_bat                int64
extras                      int64
wides                     float64
noballs                   float64
byes                      float64
legbyes                   float64
penalty                   float64
total_runs                  int64
wicket_type                object
player_dismissed           object
other_wicket_type         float64
other_player_dismissed    float64
dtype: object

In [25]:
sorted_delivery = ballbyball.sort_values(by=['match_id', 'innings'])

In [26]:
sorted_delivery

,match_id,season,start_date,venue,innings,over_ball,Over,ball,batting_team,bowling_team,...,wides,noballs,byes,legbyes,penalty,total_runs,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
29,335982,2008,4/18/2008,M Chinnaswamy Stadium,1,18.3,18,3,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN
30,335982,2008,4/18/2008,M Chinnaswamy Stadium,1,18.4,18,4,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN
31,335982,2008,4/18/2008,M Chinnaswamy Stadium,1,18.5,18,5,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
32,335982,2008,4/18/2008,M Chinnaswamy Stadium,1,18.6,18,6,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN
33,335982,2008,4/18/2008,M Chinnaswamy Stadium,1,19.1,19,1,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225830,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,12.6,12,6,Gujarat Titans,Rajasthan Royals,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
225831,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,13.1,13,1,Gujarat Titans,Rajasthan Royals,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN
225832,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,13.3,13,3,Gujarat Titans,Rajasthan Royals,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
225833,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,11.2,11,2,Gujarat Titans,Rajasthan Royals,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
225952,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,18.1,18,1,Gujarat Titans,Rajasthan Royals,...,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN

In [27]:
sorted_delivery.to_csv("sorted_dataset.csv", index=False)

In [28]:
delivery= sorted_delivery.sort_values(['match_id', 'innings','over_ball'])

In [29]:
delivery = delivery.reset_index(drop=True)

In [30]:
delivery

,match_id,season,start_date,venue,innings,over_ball,Over,ball,batting_team,bowling_team,...,wides,noballs,byes,legbyes,penalty,total_runs,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,335982,2008,4/18/2008,M Chinnaswamy Stadium,1,0.1,0,1,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,NaN,NaN,1.0,NaN,1,NaN,NaN,NaN,NaN
1,335982,2008,4/18/2008,M Chinnaswamy Stadium,1,0.2,0,2,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
2,335982,2008,4/18/2008,M Chinnaswamy Stadium,1,0.3,0,3,Kolkata Knight Riders,Royal Challengers Bangalore,...,1.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
3,335982,2008,4/18/2008,M Chinnaswamy Stadium,1,0.4,0,4,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
4,335982,2008,4/18/2008,M Chinnaswamy Stadium,1,0.5,0,5,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225948,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.3,17,3,Gujarat Titans,Rajasthan Royals,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
225949,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.4,17,4,Gujarat Titans,Rajasthan Royals,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
225950,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.5,17,5,Gujarat Titans,Rajasthan Royals,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
225951,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.6,17,6,Gujarat Titans,Rajasthan Royals,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN
225952,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,18.1,18,1,Gujarat Titans,Rajasthan Royals,...,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN

In [31]:
delivery.to_csv('sorted_filename.csv',index=False)

In [32]:
delivery.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'over_ball',
       'Over', 'ball', 'batting_team', 'bowling_team', 'striker',
       'non_striker', 'bowler', 'runs_off_bat', 'extras', 'wides', 'noballs',
       'byes', 'legbyes', 'penalty', 'total_runs', 'wicket_type',
       'player_dismissed', 'other_wicket_type', 'other_player_dismissed'],
      dtype='object')

In [33]:
delivery['wides'] = delivery['wides'].fillna("0")
delivery['noballs'] = delivery['wides'].fillna("0")
delivery['byes'] = delivery['wides'].fillna("0")
delivery['legbyes'] = delivery['wides'].fillna("0")
delivery['penalty'] = delivery['wides'].fillna("0")

In [34]:
delivery

,match_id,season,start_date,venue,innings,over_ball,Over,ball,batting_team,bowling_team,...,wides,noballs,byes,legbyes,penalty,total_runs,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,335982,2008,4/18/2008,M Chinnaswamy Stadium,1,0.1,0,1,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,0,0,0,0,1,NaN,NaN,NaN,NaN
1,335982,2008,4/18/2008,M Chinnaswamy Stadium,1,0.2,0,2,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,335982,2008,4/18/2008,M Chinnaswamy Stadium,1,0.3,0,3,Kolkata Knight Riders,Royal Challengers Bangalore,...,1.0,1.0,1.0,1.0,1.0,1,NaN,NaN,NaN,NaN
3,335982,2008,4/18/2008,M Chinnaswamy Stadium,1,0.4,0,4,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,335982,2008,4/18/2008,M Chinnaswamy Stadium,1,0.5,0,5,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225948,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.3,17,3,Gujarat Titans,Rajasthan Royals,...,0,0,0,0,0,1,NaN,NaN,NaN,NaN
225949,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.4,17,4,Gujarat Titans,Rajasthan Royals,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
225950,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.5,17,5,Gujarat Titans,Rajasthan Royals,...,0,0,0,0,0,1,NaN,NaN,NaN,NaN
225951,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.6,17,6,Gujarat Titans,Rajasthan Royals,...,0,0,0,0,0,2,NaN,NaN,NaN,NaN
225952,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,18.1,18,1,Gujarat Titans,Rajasthan Royals,...,0,0,0,0,0,6,NaN,NaN,NaN,NaN

In [35]:
delivery.dtypes

match_id                   object
season                      int64
start_date                 object
venue                      object
innings                    object
over_ball                 float64
Over                        int64
ball                        int64
batting_team               object
bowling_team               object
striker                    object
non_striker                object
bowler                     object
runs_off_bat                int64
extras                      int64
wides                      object
noballs                    object
byes                       object
legbyes                    object
penalty                    object
total_runs                  int64
wicket_type                object
player_dismissed           object
other_wicket_type         float64
other_player_dismissed    float64
dtype: object

In [36]:
delivery['wides'] = delivery['wides'].astype(int)
delivery['noballs'] = delivery['noballs'].astype(int)
delivery['byes'] = delivery['byes'].astype(int)
delivery['legbyes'] = delivery['legbyes'].astype(int)
delivery['penalty'] = delivery['penalty'].astype(int)

In [37]:
delivery.dtypes

match_id                   object
season                      int64
start_date                 object
venue                      object
innings                    object
over_ball                 float64
Over                        int64
ball                        int64
batting_team               object
bowling_team               object
striker                    object
non_striker                object
bowler                     object
runs_off_bat                int64
extras                      int64
wides                       int32
noballs                     int32
byes                        int32
legbyes                     int32
penalty                     int32
total_runs                  int64
wicket_type                object
player_dismissed           object
other_wicket_type         float64
other_player_dismissed    float64
dtype: object

In [38]:
delivery

,match_id,season,start_date,venue,innings,over_ball,Over,ball,batting_team,bowling_team,...,wides,noballs,byes,legbyes,penalty,total_runs,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,335982,2008,4/18/2008,M Chinnaswamy Stadium,1,0.1,0,1,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,0,0,0,0,1,NaN,NaN,NaN,NaN
1,335982,2008,4/18/2008,M Chinnaswamy Stadium,1,0.2,0,2,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,335982,2008,4/18/2008,M Chinnaswamy Stadium,1,0.3,0,3,Kolkata Knight Riders,Royal Challengers Bangalore,...,1,1,1,1,1,1,NaN,NaN,NaN,NaN
3,335982,2008,4/18/2008,M Chinnaswamy Stadium,1,0.4,0,4,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,335982,2008,4/18/2008,M Chinnaswamy Stadium,1,0.5,0,5,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225948,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.3,17,3,Gujarat Titans,Rajasthan Royals,...,0,0,0,0,0,1,NaN,NaN,NaN,NaN
225949,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.4,17,4,Gujarat Titans,Rajasthan Royals,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
225950,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.5,17,5,Gujarat Titans,Rajasthan Royals,...,0,0,0,0,0,1,NaN,NaN,NaN,NaN
225951,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.6,17,6,Gujarat Titans,Rajasthan Royals,...,0,0,0,0,0,2,NaN,NaN,NaN,NaN
225952,1312200,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,18.1,18,1,Gujarat Titans,Rajasthan Royals,...,0,0,0,0,0,6,NaN,NaN,NaN,NaN

In [39]:
total_score_df=delivery.groupby(["match_id",'innings']).sum()["total_runs"].reset_index()

In [40]:
total_score_df=total_score_df[total_score_df["innings"]==1]

In [41]:
match_df=match.merge(total_score_df[['match_id','total_runs']],left_on='matchId',right_on='match_id')

In [42]:
match_df

,matchId,event,season,Season Wise match_number,Total Matches,outcome,Date,gender,team1,team2,...,method,toss_decision,city,tv_umpire,date2,winner,umpire1,eliminator,match_id,total_runs
0,335982,Indian Premier League,2008,2008-1,1,Normal,4/18/2008,male,Royal Challengers Bangalore,Kolkata Knight Riders,...,Normal,field,Bangalore,AM Saheba,NaN,Kolkata Knight Riders,Asad Rauf,NaN,335982,222
1,335983,Indian Premier League,2008,2008-2,2,Normal,4/19/2008,male,Punjab Kings,Chennai Super Kings,...,Normal,bat,Chandigarh,RB Tiffin,NaN,Chennai Super Kings,MR Benson,NaN,335983,240
2,335984,Indian Premier League,2008,2008-3,3,Normal,4/19/2008,male,Delhi Daredevils,Rajasthan Royals,...,Normal,bat,Delhi,IL Howell,NaN,Delhi Daredevils,Aleem Dar,NaN,335984,129
3,335986,Indian Premier League,2008,2008-4,4,Normal,4/20/2008,male,Kolkata Knight Riders,Deccan Chargers,...,Normal,bat,Kolkata,Asad Rauf,NaN,Kolkata Knight Riders,BF Bowden,NaN,335986,110
4,335985,Indian Premier League,2008,2008-5,5,Normal,4/20/2008,male,Mumbai Indians,Royal Challengers Bangalore,...,Normal,bat,Mumbai,AV Jayaprakash,NaN,Royal Challengers Bangalore,SJ Davis,NaN,335985,165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,1304116,Indian Premier League,2022,2022-70,954,Normal,5/22/2022,male,Sunrisers Hyderabad,Punjab Kings,...,Normal,bat,Mumbai,CB Gaffaney,NaN,Punjab Kings,AK Chaudhary,NaN,1304116,157
946,1312197,Indian Premier League,2022,2022-71,955,Normal,5/24/2022,male,Rajasthan Royals,Gujarat Titans,...,Normal,field,Kolkata,MA Gough,NaN,Gujarat Titans,BNJ Oxenford,NaN,1312197,188
947,1312198,Indian Premier League,2022,2022-72,956,Normal,5/25/2022,male,Royal Challengers Bangalore,Lucknow Super Giants,...,Normal,field,Kolkata,BNJ Oxenford,NaN,Royal Challengers Bangalore,J Madanagopal,NaN,1312198,207
948,1312199,Indian Premier League,2022,2022-73,957,Normal,5/27/2022,male,Royal Challengers Bangalore,Rajasthan Royals,...,Normal,field,Ahmedabad,AK Chaudhary,NaN,Rajasthan Royals,CB Gaffaney,NaN,1312199,157
949,1312200,Indian Premier League,2022,2022-74,958,Normal,5/29/2022,male,Rajasthan Royals,Gujarat Titans,...,Normal,bat,Ahmedabad,KN Ananthapadmanabhan,NaN,Gujarat Titans,CB Gaffaney,NaN,1312200,130

In [43]:
match_df['team1'].unique()

array(['Royal Challengers Bangalore', 'Punjab Kings', 'Delhi Daredevils',
       'Kolkata Knight Riders', 'Mumbai Indians', 'Rajasthan Royals',
       'Deccan Chargers', 'Chennai Super Kings', 'Kochi Tuskers Kerala',
       'Pune Warriors', 'Sunrisers Hyderabad', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Rising Pune Supergiant',
       'Delhi Capitals', 'Lucknow Super Giants', 'Gujarat Titans'],
      dtype=object)

In [44]:
teams = ['Royal Challengers Bangalore', 'Punjab Kings',
       'Kolkata Knight Riders', 'Mumbai Indians', 'Rajasthan Royals',
       'Deccan Chargers', 'Chennai Super Kings',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Lucknow Super Giants', 'Gujarat Titans']

In [45]:
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [46]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [47]:
match_df.shape

(835, 31)

In [48]:
match_df=match_df[match_df["dl_applied"]==0]

In [49]:
match_df = match_df[['match_id','venue','winner','total_runs']]

In [50]:
delivery_df=match_df.merge(delivery,on='match_id')

In [51]:
delivery_df=delivery_df[delivery_df['innings'] == 2]

In [52]:
delivery_df

,match_id,venue_x,winner,total_runs_x,season,start_date,venue_y,innings,over_ball,Over,...,wides,noballs,byes,legbyes,penalty,total_runs_y,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
124,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.1,0,...,0,0,0,0,0,1,NaN,NaN,NaN,NaN
125,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.2,0,...,1,1,1,1,1,1,NaN,NaN,NaN,NaN
126,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.3,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
127,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.4,0,...,0,0,0,0,0,1,NaN,NaN,NaN,NaN
128,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.5,0,...,0,0,0,0,0,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196448,1312200,Narendra Modi Stadium (Ahmedabad),Gujarat Titans,130,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.3,17,...,0,0,0,0,0,1,NaN,NaN,NaN,NaN
196449,1312200,Narendra Modi Stadium (Ahmedabad),Gujarat Titans,130,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.4,17,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
196450,1312200,Narendra Modi Stadium (Ahmedabad),Gujarat Titans,130,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.5,17,...,0,0,0,0,0,1,NaN,NaN,NaN,NaN
196451,1312200,Narendra Modi Stadium (Ahmedabad),Gujarat Titans,130,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.6,17,...,0,0,0,0,0,2,NaN,NaN,NaN,NaN
196452,1312200,Narendra Modi Stadium (Ahmedabad),Gujarat Titans,130,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,18.1,18,...,0,0,0,0,0,6,NaN,NaN,NaN,NaN

In [53]:
delivery_df.columns

Index(['match_id', 'venue_x', 'winner', 'total_runs_x', 'season', 'start_date',
       'venue_y', 'innings', 'over_ball', 'Over', 'ball', 'batting_team',
       'bowling_team', 'striker', 'non_striker', 'bowler', 'runs_off_bat',
       'extras', 'wides', 'noballs', 'byes', 'legbyes', 'penalty',
       'total_runs_y', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [54]:
delivery_df.groupby('match_id').cumsum()['total_runs_y']

124         1
125         2
126         2
127         3
128         4
         ...
196448    124
196449    124
196450    125
196451    127
196452    133
Name: total_runs_y, Length: 95083, dtype: int64

In [55]:
from warnings import filterwarnings
filterwarnings("ignore")

In [56]:
delivery_df['current_score']=delivery_df.groupby('match_id').cumsum()['total_runs_y']

In [57]:
delivery_df.head(1)

,match_id,venue_x,winner,total_runs_x,season,start_date,venue_y,innings,over_ball,Over,...,noballs,byes,legbyes,penalty,total_runs_y,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,current_score
124,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.1,0,...,0,0,0,0,1,NaN,NaN,NaN,NaN,1

In [58]:
delivery_df['runs_left'] = delivery_df['total_runs_x'] - delivery_df['current_score']

In [59]:
delivery_df

,match_id,venue_x,winner,total_runs_x,season,start_date,venue_y,innings,over_ball,Over,...,byes,legbyes,penalty,total_runs_y,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,current_score,runs_left
124,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.1,0,...,0,0,0,1,NaN,NaN,NaN,NaN,1,221
125,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.2,0,...,1,1,1,1,NaN,NaN,NaN,NaN,2,220
126,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.3,0,...,0,0,0,0,NaN,NaN,NaN,NaN,2,220
127,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.4,0,...,0,0,0,1,NaN,NaN,NaN,NaN,3,219
128,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.5,0,...,0,0,0,1,NaN,NaN,NaN,NaN,4,218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196448,1312200,Narendra Modi Stadium (Ahmedabad),Gujarat Titans,130,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.3,17,...,0,0,0,1,NaN,NaN,NaN,NaN,124,6
196449,1312200,Narendra Modi Stadium (Ahmedabad),Gujarat Titans,130,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.4,17,...,0,0,0,0,NaN,NaN,NaN,NaN,124,6
196450,1312200,Narendra Modi Stadium (Ahmedabad),Gujarat Titans,130,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.5,17,...,0,0,0,1,NaN,NaN,NaN,NaN,125,5
196451,1312200,Narendra Modi Stadium (Ahmedabad),Gujarat Titans,130,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.6,17,...,0,0,0,2,NaN,NaN,NaN,NaN,127,3
196452,1312200,Narendra Modi Stadium (Ahmedabad),Gujarat Titans,130,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,18.1,18,...,0,0,0,6,NaN,NaN,NaN,NaN,133,-3

In [60]:
delivery_df['balls_left'] = 126 - (delivery_df['Over']*6 + delivery_df['ball'])

In [61]:
delivery_df

,match_id,venue_x,winner,total_runs_x,season,start_date,venue_y,innings,over_ball,Over,...,legbyes,penalty,total_runs_y,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,current_score,runs_left,balls_left
124,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.1,0,...,0,0,1,NaN,NaN,NaN,NaN,1,221,125
125,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.2,0,...,1,1,1,NaN,NaN,NaN,NaN,2,220,124
126,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.3,0,...,0,0,0,NaN,NaN,NaN,NaN,2,220,123
127,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.4,0,...,0,0,1,NaN,NaN,NaN,NaN,3,219,122
128,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.5,0,...,0,0,1,NaN,NaN,NaN,NaN,4,218,121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196448,1312200,Narendra Modi Stadium (Ahmedabad),Gujarat Titans,130,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.3,17,...,0,0,1,NaN,NaN,NaN,NaN,124,6,21
196449,1312200,Narendra Modi Stadium (Ahmedabad),Gujarat Titans,130,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.4,17,...,0,0,0,NaN,NaN,NaN,NaN,124,6,20
196450,1312200,Narendra Modi Stadium (Ahmedabad),Gujarat Titans,130,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.5,17,...,0,0,1,NaN,NaN,NaN,NaN,125,5,19
196451,1312200,Narendra Modi Stadium (Ahmedabad),Gujarat Titans,130,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,17.6,17,...,0,0,2,NaN,NaN,NaN,NaN,127,3,18
196452,1312200,Narendra Modi Stadium (Ahmedabad),Gujarat Titans,130,2022,5/29/2022,"Narendra Modi Stadium, Ahmedabad",2,18.1,18,...,0,0,6,NaN,NaN,NaN,NaN,133,-3,17

In [62]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x == "0" else "1")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')
wickets = delivery_df.groupby('match_id').cumsum()['player_dismissed'].values
delivery_df['wickets'] = 10 - wickets
delivery_df.head()

,match_id,venue_x,winner,total_runs_x,season,start_date,venue_y,innings,over_ball,Over,...,penalty,total_runs_y,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,current_score,runs_left,balls_left,wickets
124,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.1,0,...,0,1,NaN,0,NaN,NaN,1,221,125,10
125,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.2,0,...,1,1,NaN,0,NaN,NaN,2,220,124,10
126,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.3,0,...,0,0,NaN,0,NaN,NaN,2,220,123,10
127,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.4,0,...,0,1,NaN,0,NaN,NaN,3,219,122,10
128,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.5,0,...,0,1,NaN,0,NaN,NaN,4,218,121,10

In [63]:
delivery_df.head()

,match_id,venue_x,winner,total_runs_x,season,start_date,venue_y,innings,over_ball,Over,...,penalty,total_runs_y,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,current_score,runs_left,balls_left,wickets
124,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.1,0,...,0,1,NaN,0,NaN,NaN,1,221,125,10
125,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.2,0,...,1,1,NaN,0,NaN,NaN,2,220,124,10
126,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.3,0,...,0,0,NaN,0,NaN,NaN,2,220,123,10
127,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.4,0,...,0,1,NaN,0,NaN,NaN,3,219,122,10
128,335982,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Kolkata Knight Riders,222,2008,4/18/2008,M Chinnaswamy Stadium,2,0.5,0,...,0,1,NaN,0,NaN,NaN,4,218,121,10

In [64]:
delivery_df.dtypes

match_id                   object
venue_x                    object
winner                     object
total_runs_x                int64
season                      int64
start_date                 object
venue_y                    object
innings                    object
over_ball                 float64
Over                        int64
ball                        int64
batting_team               object
bowling_team               object
striker                    object
non_striker                object
bowler                     object
runs_off_bat                int64
extras                      int64
wides                       int32
noballs                     int32
byes                        int32
legbyes                     int32
penalty                     int32
total_runs_y                int64
wicket_type                object
player_dismissed            int32
other_wicket_type         float64
other_player_dismissed    float64
current_score               int64
runs_left                   int64
balls_left                  int64
wickets                     int32
dtype: object

In [65]:
# crr = runs/overs
delivery_df['crr'] = (delivery_df['current_score']*6)/(120 - delivery_df['balls_left'])

In [66]:
delivery_df['rrr'] = (delivery_df['runs_left']*6)/delivery_df['balls_left']

In [67]:
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

In [68]:
delivery_df['result'] = delivery_df.apply(result,axis=1)

In [69]:
final_df = delivery_df[['batting_team','bowling_team','venue_x','runs_left','balls_left','wickets','total_runs_x','crr','rrr','result']]

In [70]:
final_df = final_df.sample(final_df.shape[0])

In [71]:
final_df.sample()

,batting_team,bowling_team,venue_x,runs_left,balls_left,wickets,total_runs_x,crr,rrr,result
8455,Mumbai Indians,Chennai Super Kings,Wankhede Stadium (Mumbai),38,56,9,156,11.0625,4.071429,1

In [72]:
final_df.isnull().sum()

batting_team     0
bowling_team     0
venue_x          0
runs_left        0
balls_left       0
wickets          0
total_runs_x     0
crr             22
rrr              0
result           0
dtype: int64

In [73]:
final_df.replace([np.inf,-np.inf],np.nan,inplace=True)

In [74]:
final_df.dropna(inplace=True)

In [75]:
final_df.isnull().sum()

batting_team    0
bowling_team    0
venue_x         0
runs_left       0
balls_left      0
wickets         0
total_runs_x    0
crr             0
rrr             0
result          0
dtype: int64

In [76]:
X = final_df.iloc[:, : -1]
y = final_df.iloc[: , -1]
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state= 52)

In [77]:
X_train

,batting_team,bowling_team,venue_x,runs_left,balls_left,wickets,total_runs_x,crr,rrr
2990,Kings XI Punjab,Delhi Daredevils,Punjab Cricket Association IS Bindra Stadium (...,123,99,8,158,10.000000,7.454545
62498,Delhi Daredevils,Kings XI Punjab,Arun Jaitley Stadium (Delhi),96,80,6,136,6.000000,7.200000
32528,Kolkata Knight Riders,Delhi Daredevils,Arun Jaitley Stadium (Delhi),127,78,7,177,7.142857,9.769231
36687,Royal Challengers Bangalore,Kolkata Knight Riders,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",90,71,9,160,8.571429,7.605634
148065,Royal Challengers Bangalore,Sunrisers Hyderabad,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",84,61,7,175,9.254237,8.262295
...,...,...,...,...,...,...,...,...,...
184330,Rajasthan Royals,Gujarat Titans,Dr DY Patil Sports Academy (Mumbai),98,62,5,192,9.724138,9.483871
86405,Chennai Super Kings,Kings XI Punjab,Barabati Stadium (Cuttack),144,63,8,231,9.157895,13.714286
35769,Delhi Daredevils,Kolkata Knight Riders,Eden Gardens (Kolkata),14,6,2,181,8.789474,14.000000
133518,Royal Challengers Bangalore,Rajasthan Royals,Sawai Mansingh Stadium (Jaipur),34,13,1,164,7.289720,15.692308
153655,Sunrisers Hyderabad,Mumbai Indians,Sharjah Cricket Stadium (Sharjah),187,112,10,208,15.750000,10.017857

In [78]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','venue_x'])
]
,remainder='passthrough')

In [79]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [80]:
pipe = Pipeline(steps = [
    ('step1', trf),
    ('step2', LogisticRegression(solver = 'liblinear'))
])

In [81]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team',
                                                   'venue_x'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [82]:
X_train.describe()

,runs_left,balls_left,wickets,total_runs_x,crr,rrr
count,75411.000000,75411.000000,75411.000000,75411.000000,75411.000000,75411.000000
mean,91.421888,68.092374,7.515946,165.307939,8.789768,8.405277
std,49.563824,33.229675,2.152665,28.734744,7.455615,4.340228
min,-6.000000,3.000000,0.000000,62.000000,-126.000000,-9.000000
25%,52.000000,40.000000,6.000000,147.000000,7.185185,6.387097
50%,91.000000,69.000000,8.000000,165.000000,8.526316,8.024096
75%,129.000000,97.000000,9.000000,185.000000,10.071429,9.705882
max,246.000000,125.000000,10.000000,246.000000,156.000000,114.000000

In [83]:
y_pred = pipe.predict(X_test)

In [84]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8124966848777383

In [85]:
pipe.predict_proba(X_test)[10]

array([0.39236101, 0.60763899])

In [86]:
final_df.columns

Index(['batting_team', 'bowling_team', 'venue_x', 'runs_left', 'balls_left',
       'wickets', 'total_runs_x', 'crr', 'rrr', 'result'],
      dtype='object')

In [87]:
def match_summary(row):
    print("Batting Team-" + row['batting_team'] + " | Bowling Team-" + row['bowling_team'] + " | Target- " + str(row['total_runs_x']))

In [88]:
match.head()

,matchId,event,season,Season Wise match_number,Total Matches,outcome,Date,gender,team1,team2,...,neutralvenue,venue,method,toss_decision,city,tv_umpire,date2,winner,umpire1,eliminator
0,335982,Indian Premier League,2008,2008-1,1,Normal,4/18/2008,male,Royal Challengers Bangalore,Kolkata Knight Riders,...,No,"M Chinnaswamy Stadium (Bengaluru, Bangalore)",Normal,field,Bangalore,AM Saheba,NaN,Kolkata Knight Riders,Asad Rauf,NaN
1,335983,Indian Premier League,2008,2008-2,2,Normal,4/19/2008,male,Punjab Kings,Chennai Super Kings,...,No,Punjab Cricket Association IS Bindra Stadium (...,Normal,bat,Chandigarh,RB Tiffin,NaN,Chennai Super Kings,MR Benson,NaN
2,335984,Indian Premier League,2008,2008-3,3,Normal,4/19/2008,male,Delhi Daredevils,Rajasthan Royals,...,No,Arun Jaitley Stadium (Delhi),Normal,bat,Delhi,IL Howell,NaN,Delhi Daredevils,Aleem Dar,NaN
3,335986,Indian Premier League,2008,2008-4,4,Normal,4/20/2008,male,Kolkata Knight Riders,Deccan Chargers,...,No,Eden Gardens (Kolkata),Normal,bat,Kolkata,Asad Rauf,NaN,Kolkata Knight Riders,BF Bowden,NaN
4,335985,Indian Premier League,2008,2008-5,5,Normal,4/20/2008,male,Mumbai Indians,Royal Challengers Bangalore,...,No,Wankhede Stadium (Mumbai),Normal,bat,Mumbai,AV Jayaprakash,NaN,Royal Challengers Bangalore,SJ Davis,NaN

In [89]:
def match_progression(x_df,match_id,pipe):
    match = x_df[x_df['match_id'] == match_id]
    match = match[(match['ball'] == 6)]
    temp_df = match[['batting_team','bowling_team','venue_x','runs_left','balls_left','wickets','total_runs_x','crr','rrr']].dropna()
    temp_df = temp_df[temp_df['balls_left'] != 0]
    result = pipe.predict_proba(temp_df)
    temp_df['lose'] = np.round(result.T[0]*100,1)
    temp_df['win'] = np.round(result.T[1]*100,1)
    temp_df['end_of_over'] = range(1,temp_df.shape[0]+1)
    
    target = temp_df['total_runs_x'].values[0]
    runs = list(temp_df['runs_left'].values)
    new_runs = runs[:]
    runs.insert(0,target)
    temp_df['runs_after_over'] = np.array(runs)[:-1] - np.array(new_runs)
    wickets = list(temp_df['wickets'].values)
    new_wickets = wickets[:]
    new_wickets.insert(0,10)
    wickets.append(0)
    w = np.array(wickets)
    nw = np.array(new_wickets)
    temp_df['wickets_in_over'] = (nw - w)[0:temp_df.shape[0]]
    
    print("Target-",target)
    temp_df = temp_df[['end_of_over','runs_after_over','wickets_in_over','lose','win']]
    return temp_df,target

In [90]:
temp_df,target = match_progression(delivery_df,74,pipe)
temp_df

ValueError: Found array with 0 sample(s) (shape=(0,)) while a minimum of 1 is required.